{
    "bngc_ip" : "{{ bngc_ip_addr }}",
    "bngu_ip" : "{{ bngu_ip_addr }}",
    "upstream_dpdk_host" : "{{ upstream_dpdk_host }}",
    "upstream_dpdk_port" : {{ upstream_dpdk_port }},
    "downstream_dpdk_host" : "{{ downstream_dpdk_host }}",
    "downstream_dpdk_port" : {{ downstream_dpdk_port }},
    "gateway_mac_address" : "{{ gateway_mac_address }}",
    "gateway_ip_address" : "{{ gateway_ip_address }}",
    "downstream_mac_address" : "{{ downstream_mac_address }}"
}
