version: '2.4'
services:
 accel-pppd:
    build: ./docker-accel-ppp/accel-pppd
    cap_add:
      - NET_ADMIN
    devices:
      - "/dev/ppp:/dev/ppp"
    external_links:
      - redis.container.local:redis
    networks:
      0_default_network:
        ipv4_address: {{ accel_ppp_ip }}
        priority: 100
      1_accel_network:
        priority: 200
    mac_address: {{ mac_dl }}
    restart: always
    volumes:
      - /sbin/modprobe:/sbin/modprobe
      - ./config/accel-pppd/etc/accel-ppp.conf:/etc/accel-ppp.conf
    environment:
      - IFACE=eth1
      - OUTER_PROTO=802.1Q
      - OUTER_TAG={{ outer_tag }}
      - INNER_PROTO=802.1Q
 freeradius:
   image: freeradius/freeradius-server
   depends_on:
      - accel-pppd
   networks:
     0_default_network:
       ipv4_address: {{ radius_ip }}
   volumes:
      - ./config/freeradius/etc/raddb/clients.conf:/etc/raddb/clients.conf:Z
      - ./config/freeradius/etc/raddb/mods-config/files/authorize:/etc/raddb/mods-config/files/authorize:Z
      - ./config/freeradius/etc/raddb/radiusd.conf:/etc/raddb/radiusd.conf:Z
      - ./config/freeradius/etc/raddb/mods-available/ippool:/etc/raddb/mods-available/ippool:Z
      - ./config/freeradius/etc/raddb/sites-available/default:/etc/raddb/sites-available/default:Z
   command: -X

networks:
  0_default_network:
    driver: bridge
    ipam:
      config:
        - subnet: {{ ip_subnet }}
  1_accel_network:
    driver: bridge
